@import url('https://fonts.googleapis.com/css2?family=Geist:wght@700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tektur:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*,*::after,*::before{
    margin: 0px;
    padding: 0px;
}
html{
    overflow-x: hidden;
}
body{
        font-family: "Geist", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
      font-size: 16px;
}
.container{
    height: 100%;
    width: 99.9%;
    position: relative;
}
.herosec{
    margin-top: 10px;
    height: 900px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    perspective: 1000px;
}

.ftext{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 350px;
}

.imgc{
    height: 301px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    max-width: 100%;
    z-index: -1;
    top: 510px;
}
.ftext>h1{
    font-size: 5rem;
}
.ftext>p{
    left: 25px;
    position: relative;
    font-size: 1.5rem;
    font-family: "Instrument Sans", sans-serif;
    color: #4B5563;
    font-weight: 500;
}
.herosec>button{
    bottom: 350px;
    position: absolute;
    height: 45px;
    width: 170px;
    border-radius: 25px;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    background-color: #1e99ea;
    margin-top: 10px;
    font-family: inherit;
    transition: background-color 500ms ease-in;
    transition: transform 300ms ease-in;
 
}

.herosec>button:hover{
    background-color: #0377c4;
    transform: translateZ(50px);
}
.imgc>img{
    display: block;
    width: 100%;
}







.aboutsec{
    display: flex;
    position: relative;
    width: 100%;
    height: 700px;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.title{
    margin-top: 80px;
    margin-bottom: 60px;
    display: flex;
    width: 100vw;
    justify-content: center;
    font-family: inherit;
    font-size: 1.1rem;
}

.text{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 100px;
    right: 0px;
    gap: 20px;
}
.card{
    height: 550px;
    border-radius: 20px;
    width: 550px;
    border: 1px solid #E5E7EB;
    box-shadow: 3px 3px 10px #E5E7EB;
}
.aboutsec>.text>:nth-child(2){
    height: 300px;
    width: 31vw;
    resize: none;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: inherit;
    text-align: start;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 300;
    line-height: 32px;
}
.threecard>div{
    height: 90px;
    width: 150px;
    background-color: #F0F7FF;
    border-radius: 10px;
}
.threecard{
    top: -40px;
    position: relative;
    display: flex;
    gap: 20px;
}
.threecard>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.threecard>div>h1{
    color: #0078C3;
    font-size: 1.5rem;
}
.threecard>div>p{
    font-size: 0.9rem;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 100;
    color: #4B5563;
}






.title2{
    display: flex;
    justify-content: center;
    width: 100vw;
    font-size: 1.2rem;
    margin-bottom: 40px;
}
.projectsec{
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 1400px;
    background-color: rgb(255, 255, 255);
}
.cards{
    background-color: #ffffff;
    position: absolute;
    /* left: 430px; */
    height: 1300px;
    width: 1090px;
    display: grid;
    gap: 20px;
    grid-template-columns: 523px 523px;
    overflow-x: auto;
}
.projectcard{
    margin-left: 10px;
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 523px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #E5E7EB;
}
.projectcard>h2{
    margin-top: 10px;
    margin-left: 25px
}
.projectcard>p{
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 10px;
}
.projectcard>div{
    margin-left: 25px;
    margin-top: 13px;
}
.projectcard>img{
    border-radius: 10px;
}
.techstack{
    display: flex;
    gap: 15px;
}
.techstack>div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0EFFE;
    color: #3F99D3;
    border-radius: 20px;
    height: 25px;
    width: 100px;
    font-size: 0.8rem;
}
.svg{
    margin-right: 10px;
    top: 160px;
    right: 0px;
    display: flex;
    position: absolute;
    gap: 10px;
}
.filterinvert{
    filter: invert(1);
}





.title3{
    margin-top: 50px;
    display: flex;
    width: 100vw;
    margin-bottom: 40px;
    justify-content: center;
    font-size: 2.3rem;
    font-family: "Instrument Sans", sans-serif;
}
.getintouchsection{
    height: 800px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.innerbox{
    margin-top: 20px;
    height: 600px;
    width: 1200px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.left{
    margin-right: 10px;
height: 599px;
width: 570px;
background-color: #ffffff;
display: flex;
flex-direction: column;
gap: 23px;
}

.left>h1{
    font-size: 1.5rem;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600;
}
.left>p{
    font-size: 1rem;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 300;
    color: #4B5563;
}

.svgsec{
    display: flex;
    gap: 15px;
}

.svgsec>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: #C9E6FB;
    color: #0078C3;
    font-size: 21px;
    transition: background-color 500ms ease-in;
    transition: color 500ms ease-in;
    transition: transform 200ms ease-in;
}
.svgsec>div:hover{
    background-color: #0078C3;
    transform: translateY(-5px);
    color: #CAE3F3;
}





.right{
    box-shadow: 3px 3px 10px #E5E7EB;
    height: 599px;
    width: 570px;
   display: flex;
   flex-direction: column;
   gap: 30px;
   font-size: 0.9rem;
   font-family: "Instrument Sans", sans-serif;
   font-weight: 600;
}
.right>div:nth-child(1){
    margin-top: 40px;
}
.right>div>input{
    width: 450px;
    height: 40px;
    border: 1px solid #E5E7EB;
    border-radius: 7px;
}
.right>div:nth-child(3)>input{
    width: 450px;
    height: 130px;
    border: 1px solid #E5E7EB;
    border-radius: 7px;
}

.right>div{
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    gap: 10px;
}

.right>button{
    border: 0.01px solid #E5E7EB;
    background-color:#0078C3;
    color: #ffffff;
    width: 450px;
    height: 50px;
    border-radius: 8px;
    margin-left: 56px;
    font-size: 0.9rem;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 900;
}







.title4>div:first-child{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.title4>div:first-child>h1{
    font-size: 1.5rem;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 900;
}
.title4>div:first-child>p{
    font-size: 1rem;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 500;
    color: #4B5563;
}
footer{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    gap: 20px;
}
.linecover{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.line{
    display: flex;
    width: 1200px;
    background-color: #E5E7EB;
    height: 0.5px;
    z-index: 2;
    border-radius: 2px;
    position: absolute;
    bottom: -60px;
}
.left1{
    height: 190px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.left1>div>ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 500;
    color: #4B5563;
    font-size: 1rem;
    
}

.left1>div>ul>a{
    text-decoration: none;
    list-style: none;
    color: #4B5563;
}
.left1>:first-child{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.left1>div>h1{
    font-size: 1.5rem;
}
.left1>div>h2{
  font-size: 1rem;  
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
  color: #4B5563;
}

.right1{
    position: relative;
    height: 190px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    right: -100px;
}

.footimg{
    width: 100vw;
    position: relative;
    z-index: -1;
}

@media(width<1261px){
    .innerbox{
        margin-top: 20px;
        height: 600px;
        width: 1700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-bottom: 60px;
    }
    footer>div{
        justify-content: center;
        display: flex;
        width: 100%;
        height: 50px;
        gap: 20px;
    }
    .getintouchsection{
        height: 900px;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    
.right{
    box-shadow: 3px 3px 10px #E5E7EB;
    height: 800px;
    width: 570px;
   display: flex;
   flex-direction: column;
   gap: 30px;
   font-size: 0.9rem;
   font-family: "Instrument Sans", sans-serif;
   font-weight: 600;
}
.right>button{
    border: 0.01px solid #E5E7EB;
    background-color:#0078C3;
    color: #ffffff;
    width: 450px;
    height: 50px;
    border-radius: 8px;
    margin-left: 56px;
    font-size: 0.9rem;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 900;
    margin-bottom: 50px;
}
.linecover{
    display: flex;
    justify-content: center;
    gap: 0px;
}
.left1 {
    position: relative;
    height: 190px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    left: 70px;
}
.right1{
    position: relative;
    height: 190px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    right: -100px;
}
.aboutsec>.text>:nth-child(2){
    height: 300px;
    width: 31vw;
    resize: none;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: inherit;
    text-align: start;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 300;
    line-height: 25px;
}
}

@media (width<1188px) {
    body{
        overflow-x: none;
    }
    .imgc{
        display: flex;
        justify-content: center;
        position: absolute;
        width: 1000px;
        z-index: -3;
        top: 510px;
    }
    #baap{
        width: 1200px;
    }
    /* #beta{
   
    } */
    .footimg{
        width: 100%;
        position: relative;
        z-index: -1;
    }
}