@import url('https://fonts.googleapis.com/css2?family=Geist:wght@700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tektur:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*,*::after,*::before{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    height: 100vh;
    width: 100vw;
}
nav{
    position: fixed;
    overflow: auto;
    display: flex;
    gap: 70px;
    height: 6vh;
    width: 100vw;
    z-index: 10;
}
nav>.title>h1{
    color: #000000;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 1.8rem;
    font-family: inherit;
}

.socialmediaicons{
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    gap: 10px;
}
.hamburger{
    cursor: pointer;
   position: absolute;
   right: 50px;
   margin: 10px 0px 0px 0px;
   margin-top: 20px;
}
.slidebar{
    position: fixed;
    top: 0px;
   right: -100%;
    width: 422px;
    height: 100vh;
    background: #1f1f24;
    border: 2px solid black;
    transition: right 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 10;
}
.slidebar>img{
    cursor: pointer;
    top: 18px;
    left: 38px;
    position: absolute;
    filter: invert(1);
}
.slidebar>ul{
    position: absolute;
    list-style: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 110px;
    left: 45px;
    font-size: 1.4rem;
}
.slidebar>ul>li{
    cursor: pointer;
}

.herosec{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herosec>img{
    position: relative;
    border-radius: 30px;
    top: 150px;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    animation: animateimgherosec 2s 1;
}
.herosec>.text{
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    color: #000000;
    top: 300px;
    left: 50%;
    width: 600px;
    border-right: 5px solid rgb(0, 0, 0);
    font-size: 2.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: textopa 5s 1;
}
.three{
    height: 300px;
    width: 100vw;
    display: flex;
    position: absolute;
    bottom: -450px;
    justify-content: center;
    gap: 30px;
}
.three>div{
    height: 400px;
    width: 24vw;
    border-radius: 25px;
    color: 	#FFFDD0;
}
.education{
    background-color: #4e4e4e;
    display: flex;
    justify-content: center;
}
.aboutme{
    background-color: #706e6e;
    display: flex;
    justify-content: center;
}
.interest{
    background-color:#7a7878;
    display: flex;
    justify-content: center;
}
.projectsection{
    position: relative;
    bottom: -800px;
    width: 100vw;
    height: 900px;
    margin-bottom: 20px;
}
.projectsection>.title{
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.projectsection>.card{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.projectsection>.card>div{
    height: 500px;
    width: 23.3vw;
    border-radius: 20px;
}

.projectsection>.card>div>img{
    border: 2px solid black;
}

.contact{
    position: relative;
    bottom: -1200px;
    width: 100vw;
    height: 650px;
    background-color: #7676b8;
}

.contact>.title{
    width: 100vw;
    display: flex;
    position: relative;
    top: 150px;
    left: 240px;
    font-size: 2.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.forms{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 400px;
    align-items: flex-end;
    width: 100vw;
    gap: 20px;
}
.forms>input{
    height: 50px;
    width: 30vw;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family:inherit;
    padding-left: 20px;
    box-sizing: border-box;
}
.forms>:nth-child(4){
    height: 200px;
    resize: none;
    overflow-y: auto;
    border-radius: 10px;
    width: 30vw;
    font-size: 1.2rem;
    font-family:inherit;
    padding: 20px;
    box-sizing: border-box;
}
.forms>button{
    height: 50px;
    width: 30vw;
    border: none;
    border-radius: 10px;
}
footer{
    position: relative;
    height: 300px;
    width: 100vw;
    bottom: -1185px;
    background-color: #000000;
}
footer>:first-child{
    top: 80px;
    left: 80px;
    color: white;
    position: absolute;
}
footer>:nth-child(3){
    top: 120px;
    right:410px;
    color: white;
    position: absolute;
}
footer>p{
    right: 200px;
   top: 80px;
    color: white;
    position: absolute;
}










@keyframes animateimgherosec {
    0%{
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@keyframes textopa {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}